* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/WhatsApp\ Image\ 2024-10-24\ at\ 14.33.30.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.stopwatch-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #000000ad;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 300px;
}

h1 {
    font-size: 48px;
    color: #00ffe1;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #56b0b9;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #d7bebe;
    transform: scale(1.05);
}

.laps {
    margin-top: 20px;
    text-align: left;
    color: #ffff00d1;
}

#lapList {
    list-style: none;
    padding-left: 0;
}